* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: inherit; /* Faz o link herdar a cor do texto do seu elemento pai */
}

header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;  
    z-index: 1000; 
    background-color: white;
}

.principal {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-left: 20px;

    h2 {
        margin-top: 10px;
    }
}

.search_container {
    display: flex;
    gap: 15px;
    padding-right: 25px;
    
    h2 {
        margin-bottom: 15px;
    }

    img {
        width: 40px;
    }
}

.imagem_tela {
    width: 100%;
}

.categoria {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid brown;
    height: 40px; 
    align-items: center; 
    font-size: 20px;
    padding: 0 10px; 
}

.titulos {
    text-align: center;
    padding: 30px;
}

.jaquetas > p,
.bolsas > p,
.cintos > p {
    font-size: 20px;
    margin-top: 10px;
}

.categoria_subtt {
    display: inline-block;
    text-align: center;
    width: 190px;
    padding: 10px;
    color: gray;
    border-bottom: 1px solid gray;
}

.titulos_precos {
    text-align: center;
    padding: 30px;
}

.categoria_subtt_precos {
    display: inline-block;
    text-align: center;
    width: 150px;
    padding: 20px;
    color: gray;
    border-bottom: 1px solid gray;
}

.container_categorias {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    p {
        text-align: center;
    }
}

.container_precos {
    display: flex;
    justify-content: space-around;
}

.preco {
    padding: 15px;
    border: 1px solid gray;
}

.imagens {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.container_fotos > h2 {
    font-size: 70px;
    width: 400px;
    position: relative;
    top: 200px;
    left: 200px;
}

footer {
    background-color: rgb(188, 188, 188);
    margin-top: 50px;
    height: 400px;
}
